<ion-header>
  <ion-navbar color='danger'>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Contactos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h3>Enviar Comentarios</h3>
<ion-list *ngIf="_ini.itemsd_id === 'true'">
  <ion-item>
    <ion-input placeholder="Correo o Celular" clearInput [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-textarea placeholder="Comentario" [(ngModel)]="descripcion"></ion-textarea>
  </ion-item>
  <button ion-button block color="light" [disabled]="descripcion.length < 5" (click)="ingresar()">Enviar</button></ion-list>
  <p *ngIf="_ini.itemsd_id === 'false'">Gracias por dejar su comentario</p>
</ion-content>
